*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#66ccff;
}
.about{
    width: 400px;
    height: 500px;
    border: 1px solid silver;
    margin: 10px auto;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}