.content{
    margin-left: 180px;
    padding: 0 100px;
}
h2{
   text-align: center ;
}
th,td{
    text-align: center;
    line-height: 75px;
}
.add{
    text-align: center;
}
.alertBox{
    position: absolute;
    top:10px;
    width:100%;
}
.alertBox div{
    width:50%;
    margin: 0 auto;
}
.alert{
    display: none;
    text-align: center;
}