*{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    background-color:#66ccff;
}
.header .header_co{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
/* 头部左 */
.he_lf{
    float: left;
    line-height: 40px;
}
/* 头部右 */
.he_ri{
    float: right;
    line-height: 40px;
}
.he_ri a{
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}
.he_ri a:hover{
    background-color: #66ccff;
    color: white;
}
/* 导航 */
.nav{
    width: 100%;
    height: 160px;
    background-color:white;
    border-bottom: 2px solid #ccc;
}
/* 导航内容 */
.nav_co{
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}
.logo img{
    float: left;
    margin: 20px;
    width: 120px;
    height: 120px;
}
.shouye{
    background-color: silver;
}
.gongneng a{
    text-decoration: none;
    color: #000;
}
.gongneng a:hover{
    background-color: #66ccff;
    color: white;
}
.gongneng span{
    margin: 40px;
    
}
.gongneng{
    float: right;
    width: 850px;
    margin-top: 60px;
    font-size: 20px;
}
.cont{
    height: 1200px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}
.cont .con-tu{
    width: 1200px;
    height: 360px;
    margin: 20px auto 0;
    border-bottom: 2px solid #ccc;
}
.coni{
    float: left;
    width: 750px;
    height: 360px;
}
.coni img{
    width: 750px;
    height: 360px;
}
.conwen{
    float: right;
    width: 400px;
    height: 356px;
    background-image: url(../images/xuexi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.xuexi{
    text-align: center;
    font-size: 24px;
    margin-top: 166px;
    margin-left: 6px;
}  
.conwen a{
    margin: 20px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.xuexilianjie{
    margin-top: 35px;
    margin-left: 6px;
    text-align: center;
}
.xuexilianjie a:hover{
    background-color: #ffcc99;
    font-weight: 700;
}
.con-ma{
    width: 1200px;
    height: 360px;
    margin: 20px auto 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.con-ma p{
    font-size: 24px;
    margin: 10px;
}
.sj{
    background-color: #ffcc99;
}
.con-ma a{
    margin: 16px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.con-ma a:hover{
    background-color: #ffcc99;
    font-weight: 700;
}
.shijuan{
    float: right;
    width: 750px;
    height: 360px;
    background-color: beige;
}
.mingyan{
    width: 450px;
    height: 360px;
    float: left;
    font-size: 24px;
    background-image: url(../images/mingyan.jpg);
    background-size:cover;
}
.zujuan{
    float: right;
    width: 370px;
    height: 360px;
}
.con-ma p{
    text-align: center;
}
.shipin{
    float: right;
    margin-left: 4px;
    width: 370px;
    height: 360px;
}
.con-t{
    width: 1200px;
    height: 360px;
    margin: 20px auto 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: beige;
}
.con-t a{
    width: 370px;
    margin: 20px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.zx,.fg{
    background-color: #66ccff;
}
.con-t p{
    font-size: 24px;
    margin: 10px;
    text-align: center;
}
.con-t a:hover{
    background-color: #66ccff;
    font-weight: 700;
}
.zixun{
    float: left;
    width: 370px;
    height: 360px;
}
.fengguang{
    float: left;
    margin-left: 4px;
    width: 370px;
    height: 360px;
}
.conj{
    float: right;
    width: 400px;
    height: 340px; 
}
.conj img{
    width: 350px;
    height: 320px;
}
.conj p{
    font-size: 20px;
    text-align: center;
}

.friend{
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto 0;
    font-size: 24px;
    line-height: 40px;
}
.friendlink{
    height: 140px;
    width: 1200px;
    margin:30px auto 0;
    border: 1px solid silver;
}
.lj{
    margin: 30px auto 0;
    width: 1200px;
}
.lj a{
    text-decoration: none;
    color: #000; 
}
.lj span{
    float: left;
    display: block;
    text-align: center;
    width: 200px;
}
.lj span:hover{
    background-color: #66ccff;
}
.banquan{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid silver;
}
.banquan p{
    margin-top: 30px;
}
