.lianxi{
    width: 1200px;
    height: 1000px;
    margin: 0 auto 0;
    border: 1px sloid red;
}
.jichulianxi{
    background-color:brown;
}
.lianxi .fc label{
    margin-left: 30px;
}
p{
    margin-top: 30px;
}
.lianxi .content{
    height: 600px;
}
.content{
   margin-top:100px;
}
.content-box{
    width:1200px;
    height:300px;
    border:1px solid black;
    display: none;
}
.content-dev{
    width: 1200px;
    height:200px;
}